<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Города</title>
</head>
<body>
  <div class="bg-image"></div>
  <div class="wrapper">
    <header>
      <h1>Города</h1>
    </header>
    <main class="content">
      <div class="content-title">
        <div class="user-info">
          <!-- <span id="timer" class="timer">Таймер</span> -->
          <span class="user-name">
            <%=name%>
          </span>
        </div>
        <ul class="online-users" id="onlineUsers"></ul>
      </div>
      <form class="join-game">
        <label id="word" class="join-game__word">Город</label>
        <input type="text" name="inputWord" placeholder="Введите город" required autofocus>
        <button>Отправить</button>
      </form>
      <div class="alert-message" id="alertMessage">Сообщение</div>
    </main>
  </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./script.js"></script>
</body>
</html>